/* Add CSS styling here */
body{
    
    border:1px solid;
    
}
h1{
    text-align: center;
}
h2{
    text-align: left;
    text-transform: capitalize;
}
.Nav-container{
    display: flex;
   
}

.Item{
   padding: 10px;
    background: lightgray;
    border: 1px solid black;
    
}
.header-nav{
    border:1 px solid;
    background-color: cornflowerblue;
    padding: 10px;
    padding-bottom: 40px;
}
.container {
    display: flex;
  }
  
  .container .item {
    background: lightgray;
    border: 1px solid black;

  }
  .Name_pic_Left{
     
      width: 50%;
  }
  .picture_section{

      display: flex;
      flex-direction: row;
      padding: 20px;
  }
  .project_container1{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }
  /*
  .Project_item
      {

      padding-right: 5%;
  }*/

footer{
    text-align: center;
    background-color: cornflowerblue;
    padding: 5%;
    
}